<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Homewatch is a do-it-yourself home monitoring system. Hook up compatible sensors and devices,
  monitor them remotely, and receive e-mail alerts for important events.
</p>