<% provide(:title, "Password Reset") %>

<div class="row">
  <div class="span6 offset3">
    <div class="page-title"><h1>Password Reset</h1></div>
    <%= form_tag password_resets_path, :method => :post do %>
      <div class="field">
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email] %>
      </div>
      <div class="actions"><%= submit_tag "Get new password", class: "btn btn-large btn-primary" %></div>
    <% end %>
  </div>
</div>
