<% provide(:title, 'Manage Sensors') %>
<div class="page-title"><h1>Manage Sensors</h1></div>

<table id="flexSensors" class="sensors"></table>

<p><%= link_to "Add a new sensor", "#", id: "linkNewSensor" %></p>

<div id="dialogSensors"></div>
