<% provide(:title, 'Sensor Snapshot - ' + @sensor.name) %>
<% javascript 'sensor_snapshot' %>

<div class="page-title" data-id=<%= params[:id] %>><h1>Sensor Snapshot - <%= @sensor.name %></h1></div>

<div id="monitors-container" class="monitors-container"></div>

<table id="flexRestartsLong" class="restarts"></table>
<table id="flexRestartsShort" class="restarts"></table>
