<% provide(:title, 'Monitor') %>
<script>var public_token='<%= @monitor_window.initial_token %>'</script>

<% javascript 'monitor_windows' %>


<div id="monitors-container" class="monitors-container"></div>

