@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.navbar-inner {
  background-color: $blueDark;
  background-image: none;
  background-repeat: no-repeat;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;;
  filter: none;
}

.navbar-fixed-top {
  right: auto;
  left: auto;
  z-index: 1001;
}

// Links
.navbar .nav > li > a {
  color: #DDD;
  font-weight: bold;
}

// Hover
.navbar .nav > li > a:hover {
  // background-color: $navbarLinkBackgroundHover; // "transparent" is default to differentiate :hover from .active
  color: white;
  text-decoration: underline;
}

.btn-cell {
  padding-left: 20px;
  padding-right: 20px;
}

.btn-left {
  position: absolute;
  left: 20px;
}

table.center {
  margin: auto;
}

/* universal */

html {
  height: 100%;
  background-color: #eee;
}

body {
  padding-top: 60px;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.container {
  height: 100%;
  margin-bottom: -60px;
  width: 95%;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.page-title {
  h1 {
    font-size: 2em;
    text-align: left;
  }
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  font-family: "Verdana";
  color: white;
  /* text-transform: uppercase; */
  letter-spacing: -1px;
  padding-top: 9px;
  padding-left: 10px;
  font-weight: bold;
  /* line-height: 1; */
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

  /* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }

  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

legend, .control-group, legend + .control-group {
  margin-top: 0;
  vertical-align: top;
}

select {
  padding: 0 !important;
}

input, textarea, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  float: left;
  height: auto !important;
  margin-bottom: 15px;
  @include box_sizing;
}

select {
  border: 1px solid #bbb;
  width: 100%;
  float: left;
  margin-bottom: 15px;
  padding: 0 !important;
  @include box_sizing;
}

input.my_color {
  cursor: pointer;
  height: 23px !important;
  padding: 0px;
}

.control-label {
  float: right !important;
  font-size: 0.8em;
}

.check-label, .link-label {
  float: left;
  display: inline;
  font-size: 0.8em;
  overflow: hidden;
}

.check-label {
  line-height: 18px;
}

.link-label {
  line-height: 23px;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-size: 0.8em !important;
}


.row-fluid {
  padding-bottom: 10px;
}

/* dialog */




/* general */


#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* Monitor windows */

.monitor-container {
  padding: 0px;
  height: auto;
  width: auto;
  z-index: auto;
  position: relative;
}

.monitor-container-parent {
  padding: 0px;
  height: auto;
  width: auto;
  display: inline-block;
  vertical-align: top;
}

.mw-parent-normal {
  margin-left: 25px;
  margin-right: 10px;
}

.mw-parent-wide {
  margin-left: 35px;
  margin-right: 10px;
}

.mw-parent-small {
  margin-left: 25px;
  margin-right: 10px;
}


.monitor-window {
  height: 600px;
  display: block;
}

.mw-normal {
  width: 400px;
  display: inline-block;
}
.mw-wide {
  width: 800px;
  display: block;
}
.mw-small {
  width: 400px;
  height: 300px;;
  display: inline-block;
}

.monitor-title {
  width: auto;
  position: absolute;
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: $grayLighter;
  border-style: solid;
  border-color: $black;
  border-width: 2px;
  border-radius: 4px;

  color: #000000;
}

.monitor-config {
  position: absolute;
  cursor: pointer;
}
.monitor-refresh {
  position: absolute;
  cursor: pointer;
}
.monitor-move {
   position: absolute;
   cursor: pointer;
 }

#data-tooltip {
  color: #000;
  padding: 2px;
  background-color: $white;
  border-style: solid;
  border-color: $grayDark;
  border-width: 2px;
  border-radius: 4px;
  opacity: 0.80;
}


div.legend table {
  border-style: solid;
  border-color: $black;
  border-width: 2px;
  border-radius: 4px;
  padding: 2px;
  color: $black;
  background-color: #eeeeee;
}

#legendcurrent {
  color: $black;
}

#legend {
  color: $black;
}

#legendold {
  color: $orange;
}
#legendoldlimit {
  color: $orange;
  font-weight: bold;
}
#legendcurrentlimit {
  color: $red;
  font-weight: bold;
}

div.screenblock {
  z-index: 10001 !important;
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
  background: #eeeeee url('/assets/ajax-loader.gif') no-repeat center center;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
//  bottom: 0;
  width: 100%;
  height: 600px;;
}


